@import url(Stemplate.css);

#container {
  overflow: auto;
}
#about {
  max-width: 62rem;
  background-color: var(--fourth);
}
#mainH1 {
  background-color: var(--fourth);
  color: var(--secound);
}
#container {
  background-color: var(--fourth);
  min-height: 36rem;
  color: #27374d;
}
#leftP2 {
  font-weight: 600;
}
#tableWrapper {
  overflow: auto;
  max-height: 20rem;
}
::-webkit-scrollbar {
  width: 10px;
}
p{
  color: var(--secound);
}
#tableDiv span {
  background-color: var(--secound);
  color: white;
  right: 5px;
}
#tableDiv{
  background-color: white;
}
#tableDiv h1 {
  color: var(--secound);
}
table tr {
  border-bottom: 1px;
  text-align: center;
  color: var(--secound);
  border-color: var(--third);
  border-style: solid;
  height: 3rem;
}
#tableBtn {
  background-color: var(--secound);
  padding: 2px;
}
#tableBtn:active {
  border-color: white;
  box-shadow: none;
  border-style: none;
}

#name {
  color: var(--secound);
}
#tableBtn {
  border-radius: 15px;
  color: white;
  font-weight: bold;
  padding: 2px;
}
#tableBtn:hover {
  opacity: 80%;
}
.active {
  border-radius: 15px;
  padding: 2px;
  background-color: rgb(9, 149, 9);
  color: white;
}
.inactive {
  border-radius: 15px;
  padding: 2px;
  background-color: red;
}
#tableWrapper {
  position: relative;
}
#container #tableDiv {
  position: sticky;

  top: 0;
}
