@import url(../front_end/Stemplate.css);
#image input span {
  color: red;
}
#container input::placeholder {
  color: var(--secound);
}
#container input {
  color: var(--secound);
}
#container:hover {
  box-shadow: 1px 1px 5px 1px var(--secound);
}
#Password:hover,
#User_name:hover,
#phone:hover,
#email:hover,
#fname:hover,
#lname:hover,
#date:hover,
#email:hover,
#phone:hover,
#position:hover,
#submitBtn:hover {
  opacity: 90%;
}
span {
  color: var(--first);
}
#checkDiv {
  margin-left: 20px;
}
#submitBtn:active {
  border: 2px;
  border-style: solid;
  border-color: var(--secound);
  box-shadow: 2px 2px 4px 1px var(--secound);
}
#submitBtn {
  background-color: var(--secound);
}
#container {
  background-color: #dde6ed;
  max-width: 670px;
}
#container h1 {
  color: var(--secound);
}
#wrapper {
  min-height: 35rem;
}
#container path {
  color: var(--secound);
}
#Cdate {
  margin-right: 2px;
}
.error {
  display: inline-block;
  letter-spacing: 1px;
  color: red;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: medium;
  text-align: center;
  font_weight: 10px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px rgb(188, 187, 187);
  padding: 2px;

  animation-name: omar;
  animation-duration: 1s;
}
.success {
  display: inline-block;
  letter-spacing: 1px;
  color: green;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: medium;
  text-align: center;
  font_weight: 10px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px rgb(188, 187, 187);
  padding: 2px;
}
.success::after {
  content: "✅";
}

@keyframes omar {
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
