@import url(../front_end/Stemplate.css);
#image input span {
  color: red;
}
#container input::placeholder {
  color: var(--secound);
}
#container input {
  color: var(--secound);
}
#container:hover {
  box-shadow: 1px 1px 5px 1px var(--secound);
}

#fname:hover,
#lname:hover,
#date:hover,
#email:hover,
#phone:hover,
#position:hover,
#submitBtn:hover {
  opacity: 90%;
}
span {
  color: var(--first);
}
#checkDiv {
  margin-left: 20px;
}
#submitBtn:active {
  border: 2px;
  border-style: solid;
  border-color: var(--secound);
  box-shadow: 2px 2px 4px 1px var(--secound);
}
#submitBtn {
  background-color: var(--secound);
}
#container {
  background-color: #dde6ed;
  max-width: 670px;
}
#container h1 {
  color: var(--secound);
}
#wrapper {
  min-height: 35rem;
}
#container path {
  color: var(--secound);
}
::-webkit-scrollbar {
  width: 10px;
}
